/* ============================================ */
/* FLEXBOX */
/* ============================================ */

/* Displays and Wraps ================= */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

/* Justify ================= */

.flex-justify-start {
  justify-content: start;
}

.flex-justify-end {
  justify-content: end;
}

.flex-justify-around {
  justify-content: space-around;
}
.flex-justify-between {
  justify-content: space-between;
}

.flex-justify-even {
  justify-content: space-evenly;
}

.flex-justify-center {
  justify-content: center;
}
/* Align ================= */

.flex-align-center {
  align-items: center;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-end {
  align-items: flex-end;
}
